{% extends 'base.html.twig' %}

{% block title %}
    About us | {{ parent() }}
{% endblock %}

{% block body %}
    <h2>The team</h2>
    <section id="team">
        {% for member in team %}
            <article class="member">
                <img src="{{ member.picture }}" alt="A picture of {{ member.firstname }} {{ member.lastname }}">
                <h3>
                    {{ member.firstname }} {{ member.lastname }}
                    {% if member.lastname == 'Potencier' and member.firstname == 'Fabien' %}
                        ❤
                    {% endif %}
                </h3>
                <p>born the {{ member.dateOfBirth | date('d-m-Y') }}</p>
                <p>Created <em>{{ member.creatorOf }}</em></p>
                <p>{{ member.description }}</p>
            </article>
        {% endfor %}
    </section>
{% endblock %}

