{% extends 'base.html.twig' %}

{% block title %}
    Wish Details | {{ parent() }}
{% endblock %}

{% block body %}
    <h2>{{ wish.title }}</h2>
    <p>Created by {{ wish.author }} on {{ wish.dateCreated | date('Y-m-d')}}</p>
    {% if wish.description %}
        <p>{{ wish.description }}</p>
    {% else %}
        <p>No description for this wish</p>
    {% endif %}
{% endblock %}



