<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block title %}Bucket-list{% endblock %}</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lora:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ asset('css/normalize.css') }}">
    <link rel="stylesheet" href="{{ asset('css/app.css') }}">
    <link rel="icon" href="{{ asset('img/favicon.png') }}">
</head>
<body>
    <div id="root-container">
        <header>
            <div id="main-heading">
                <a href="{{ path('main_home') }}">
                    <img src="{{ asset('img/logo.svg') }}" alt="Bucket-List logo">
                </a>
                <h1>Bucket-list</h1>
            </div>
            <nav>
                <ul>
                    <li><a href="{{ path('main_home') }}">Home</a></li>
                    <li><a href="{{ path('wish_list') }}">Wishes</a></li>
                    <li><a href="{{ path('wish_create') }}">New Wish</a></li>
                    <li><a href="{{ path('main_about') }}">About us</a></li>
                    {% if app.user %}
                        <li><a href="{{ path('app_logout') }}">Logout</a></li>
                    {% else %}
                        <li><a href="{{ path('app_login') }}">Login</a></li>
                        <li><a href="{{ path('app_register') }}">Register</a></li>
                    {% endif %}
                </ul>
            </nav>
        </header>

        {% for label, messages in app.flashes %}
            {% for message in messages %}
                <div class="flash-{{ label }}">
                    {{ message }}
                </div>
            {% endfor %}
        {% endfor %}

        <main>
            {% block body %}{% endblock %}
        </main>
        <footer>
            <p>&copy;Bucket-List {{ "now" | date("Y") }}</p>
        </footer>
    </div>
</body>
</html>